@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');

body{
    margin: 0;
}

*{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    outline: none;
}
.centered_screen_box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    min-height: 100vh;
}
